.tree-level-1 {
    margin-left: 2em;
}

.tree-level-2 {
    margin-left: 4em;
}

.tree-level-3 {
    margin-left: 6em;
}

.tree-level-4 {
    margin-left: 8em;
}

.tree-level-5 {
    margin-left: 10em;
}

.tree-level-6 {
    margin-left: 12em;
}

.list-group-item:nth-child(odd) {
    background-color: linen;
}

body { padding-top: 70px; }
